:root {
  --text-colour: #1e1e1e;
}

body {
  margin: 0px;
  background-color: #6b524e;
}

.img-fluid {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  font-family: "Wittgenstein", serif;
  color: var(--text-colour);
}

header {
  text-align: center;
  padding: 100px 0px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(0, 0, 0, 0.4)
    ),
    url(./images/boston-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-colour);
}

header h2 {
  font-size: 35px;
}

header h1 {
  font-size: 65px;
  margin-top: 30px;
}

header img {
  width: 450px;
}

footer {
  text-align: center;
  font-family: monospace;
  color: antiquewhite;
  padding: 30px 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(./images/boston-gathering.png);
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 2;
}

footer ul {
  list-style: none;
  padding: 0px;
}

footer a {
  color: antiquewhite;
}

.no-break-grid {
  display: grid;
  grid-gap: 0px !important;
}

.grid {
  display: grid;
}

.grid-3-col-start-narrow {
  grid-template-columns: 1fr 2fr 2fr;
  text-align: start;
  grid-gap: 30px;
  padding: 0px 30px;
}

.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

main {
  background-color: #d8bdaf;
}

main .why-massachusetts {
  padding: 30px 40px;
  line-height: 2.9;
}

main .why-text {
  padding: 20px 35px;
  margin-left: 30px;
}

main .why-text p {
  font-size: 16px;
}

main h3 {
  font-size: 25px;
  margin: 0;
}

main .why-img {
  width: 480px;
}

main .secondary {
  background-color: var(--text-colour);
  color: #d8bdaf;
  padding-top: 50px;
}

main .secondary h3 {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 5px;
}

main .secondary h4 {
  font-size: 20px;
}

main .card-body {
  padding: 30px;
}

main .card-header {
  text-align: center;
}

.card-header h4 {
  margin-bottom: 0px;
}

main .card {
  background-color: #29221c;
  margin: 20px;
  padding: 35px;
  line-height: 2;
}

.card .footer-btn {
  text-align: center;
  background-color: #d8bdaf;
  font-family: "Wittgenstein", serif;
  font-size: 16px;
  color: #29221c;
  text-decoration: none;
  display: block;
  padding: 15px 5px;
}

.image-reference {
  padding: 10px;
  background-color: #d8bdafbd;
  max-width: 25px;
  position: relative;
  float: right;
}

header .image-reference {
  top: 220px;
}

footer .image-reference {
  bottom: 20px;
}

.image-reference-number {
  font-family: "Courier New", Courier, monospace;
}

.embed {
  aspect-ratio: 1/1;
  width: 100%;
}

main .photo-gallery {
  background-color: #29221c;
  color: #d8bdaf;
  text-align: center;
  padding: 50px;
  line-height: 3;
}

.photo-gallery h3 {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 10px;
}

.photo-gallery .grid {
  grid-gap: 50px;
}

.photo-acknowledgements {
  padding: 50px 100px;
  margin: 0 auto;
  background-color: #1e1e1e;
  color: #d8bdaf;
}
.photo-acknowledgements a,
.photo-acknowledgements a:visited,
header .image-reference a,
.secondary .image-reference-number a {
  color: #d8bdaf;
}

main .image-reference-number a {
  color: var(--text-colour);
}

@media (max-width: 1150px) {
  .photo-gallery .grid {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 1300px) {
  main h3 {
    font-size: 23px;
  }

  main .why-text p {
    font-size: 14px;
  }
}

@media (max-width: 1222px) {
  main h3 {
    font-size: 20px;
  }
}

@media (max-width: 1184px) {
  main h3 {
    font-size: 18px;
  }

  main .why-text {
    padding: 0px;
    line-height: 3;
  }
}

@media (max-width: 1020px) {
  .grid-2-col {
    grid-gap: 25px;
  }
}

@media (max-width: 960px) {
  header h1 {
    font-size: 50px;
  }

  header h2 {
    font-size: 20px;
  }

  header img {
    width: 300px;
  }

  main .image-reference-number {
    text-align: center;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .grid-3-col-start-narrow {
    grid-gap: 10px;
  }

  footer {
    line-height: 1.5;
  }

  .img-fluid {
    display: block;
    margin: 0 auto;
  }

  .photo-gallery .instagram-post {
    display: block;
    margin: 0 auto;
  }

  .photo-acknowledgements .grid {
    grid-gap: 0px;
  }
}

@media (max-width: 800px) {
  .photo-gallery .grid {
    grid-template-columns: 1fr !important;
  }
  .photo-gallery {
    padding: 5px !important;
  }

  .photo-acknowledgements {
    padding: 30px 25px;
  }
  .photo-acknowledgements h1 {
    font-size: 25px !important;
  }
}
